<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a href="{{ url_for('index') }}">
                <div class="logo">Y</div>
                <h1>CultureQuest</h1>
            </a>
        </div>
        
        <div class="navbar-menu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Bridging Cultures</a>
                </li>
            </ul>
        </div>
        
        <div class="navbar-actions">
            <a href="#" class="sign-in-btn">Sign up</a>
            <a href="#" class="demo-btn">Sign in</a>
        </div>
    </div>
</nav>