<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Challenge App</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">

    <header class="bg-blue-900 text-white py-12 shadow-lg">
        <h1 class="text-4xl font-bold text-center">Welcome to the Challenge App</h1>
    </header>

    <main class="flex justify-center items-center h-screen">
        <div class="text-center px-6">
            <p class="text-xl mb-8 text-gray-700">Click the button below to create or participate in a challenge.</p>
            
            <!-- Button to go to the Challenge Page -->
            <a href="{{ url_for('challenge.create_challenge') }}">
                <button class="px-8 py-4 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 transition-all duration-300 ease-in-out">Go to Host a Challenge</button>
            </a>

            <!-- Button to go to the Admin Screening Page -->
            <a href="{{ url_for('admin_screening.admin_page') }}">
                <button class="px-8 py-4 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-600 transition-all duration-300 ease-in-out mt-6">Go to Admin Screening</button>
            </a>

             <!-- Button to go to the event Page -->
            <a href="{{ url_for('event.event_page') }}">
                <button class="px-8 py-4 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-600 transition-all duration-300 ease-in-out mt-6">Go to Event page</button>
            </a>
        </div>
    </main>

</body>
</html>
